In [2]:
# Importando bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Importando o conjunto de dados
ds = pd.read_csv('electronics.csv')

In [4]:
# Abrindo os 10 primeiros registros
ds.head(10)

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
0,0,0,5.0,1999-06-13,Female,Portable Audio & Video,NaN,1999,NaN,0
1,0,1,5.0,1999-06-14,Female,Portable Audio & Video,NaN,1999,NaN,0
2,0,2,3.0,1999-06-17,Female,Portable Audio & Video,NaN,1999,NaN,0
3,0,3,1.0,1999-07-01,Female,Portable Audio & Video,NaN,1999,NaN,0
4,0,4,2.0,1999-07-06,Female,Portable Audio & Video,NaN,1999,NaN,0
5,0,5,2.0,1999-07-12,Female,Portable Audio & Video,NaN,1999,NaN,0
6,0,6,5.0,1999-07-13,Female,Portable Audio & Video,NaN,1999,NaN,0
7,0,7,2.0,1999-07-13,Female,Portable Audio & Video,NaN,1999,NaN,0
8,0,8,4.0,1999-07-16,Female,Portable Audio & Video,NaN,1999,NaN,0
9,0,9,5.0,1999-08-20,Female,Portable Audio & Video,NaN,1999,NaN,0

In [5]:
# Informações básicas do dataset
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292954 entries, 0 to 1292953
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   item_id     1292954 non-null  int64
 1   user_id     1292954 non-null  int64
 2   rating      1292954 non-null  float64
 3   timestamp   1292954 non-null  object
 4   model_attr  1292954 non-null  object
 5   category    1292954 non-null  object
 6   brand       331120 non-null   object
 7   year        1292954 non-null  int64
 8   user_attr   174124 non-null   object
 9   split       1292954 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 98.6+ MB

In [6]:
# Verificando se há algum dado nulo, ausente
ds.isnull().sum()

item_id             0
user_id             0
rating              0
timestamp           0
model_attr          0
category            0
brand          961834
year                0
user_attr     1118830
split               0
dtype: int64

Como para o caso em questão o brand e user_attr não são importantes, vamos deletar do dataset

In [7]:
df = ds.drop(['brand', 'user_attr'], axis=1)
df

,item_id,user_id,rating,timestamp,model_attr,category,year,split
0,0,0,5.0,1999-06-13,Female,Portable Audio & Video,1999,0
1,0,1,5.0,1999-06-14,Female,Portable Audio & Video,1999,0
2,0,2,3.0,1999-06-17,Female,Portable Audio & Video,1999,0
3,0,3,1.0,1999-07-01,Female,Portable Audio & Video,1999,0
4,0,4,2.0,1999-07-06,Female,Portable Audio & Video,1999,0
...,...,...,...,...,...,...,...,...
1292949,9478,1157628,1.0,2018-09-26,Female,Headphones,2017,0
1292950,9435,1157629,5.0,2018-09-26,Female,Computers & Accessories,2017,0
1292951,9305,1157630,3.0,2018-09-26,Female,Computers & Accessories,2016,0
1292952,9303,1157631,5.0,2018-09-29,Male,Headphones,2018,0
1292953,9478,1157632,1.0,2018-10-01,Female,Headphones,2017,0

In [8]:
# Breve descrição do novo conjunto de dados
df.describe()

            item_id       user_id        rating          year         split
count  1.292954e+06  1.292954e+06  1.292954e+06  1.292954e+06  1.292954e+06
mean   4.183588e+03  5.605127e+05  4.051482e+00  2.012938e+03  1.747587e-01
std    2.525346e+03  3.342374e+05  1.379732e+00  2.643513e+00  5.506810e-01
min    0.000000e+00  0.000000e+00  1.000000e+00  1.999000e+03  0.000000e+00
25%    2.018000e+03  2.697482e+05  4.000000e+00  2.012000e+03  0.000000e+00
50%    3.930000e+03  5.518920e+05  5.000000e+00  2.014000e+03  0.000000e+00
75%    6.289000e+03  8.474858e+05  5.000000e+00  2.015000e+03  0.000000e+00
max    9.559000e+03  1.157632e+06  5.000000e+00  2.018000e+03  2.000000e+00

## PERGUNTAS

### 1. Qual categoria foi a mais vendida

In [28]:
categoria_mais_vendida = df['category'].mode()
categoria_mais_vendida

0    Headphones
dtype: object

A categoria que mais vendeu produtos foi Headphones

### 2. Qual o ano que mais vendas teve o headphones

In [26]:
# Primeiro vamos aplicar uma máscara à coluna category, e selecionar somente a característica Headphones
df_mask = df['category'] == 'Headphones'
df_filtro = df[df_mask]
df_filtro

,item_id,user_id,rating,timestamp,model_attr,category,year,split
16,2,16,4.0,1999-10-25,Female&Male,Headphones,2000,0
34,2,34,5.0,1999-12-05,Female&Male,Headphones,2000,0
83,2,83,5.0,2000-04-05,Female&Male,Headphones,2000,0
103,2,103,5.0,2000-05-14,Female&Male,Headphones,2000,0
136,2,136,4.0,2000-06-24,Female&Male,Headphones,2000,0
...,...,...,...,...,...,...,...,...
1292933,9315,1157613,5.0,2018-09-20,Male,Headphones,2016,0
1292948,9217,1157627,5.0,2018-09-25,Male,Headphones,2016,0
1292949,9478,1157628,1.0,2018-09-26,Female,Headphones,2017,0
1292952,9303,1157631,5.0,2018-09-29,Male,Headphones,2018,0
1292953,9478,1157632,1.0,2018-10-01,Female,Headphones,2017,0

In [27]:
# Agora podemos aplicar o método mode para verificar qual foi o ano em que Headphones foi mais vendido
df_filtro['year'].mode()

0    2015
dtype: int64

O ano de 2015 foi o que mais teve vendas de Headphones

### 3. Quais as 5 categorias mais vendidas